@import url(https://fonts.cdnfonts.com/css/lexend-deca);


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #F2F2F2;

}
.contenido-navbar{
    background-color: #f5f3f3;
}
