<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/home.css">
</head>

<body>
    <header></header>
    <main>
        <!--Esta sección de código crea un contenedor con un título y dos columnas, en la primera se muestra un texto de bienvenida y en la segunda una descripción de las opciones de administración-->
        <div class="container" id="titulo-h">
            <h3>Bienvenido a la página del administrador</h3>
            <br>
            <!-- Este código muestra una fila con dos columnas, en cada una de ellas se encuentra un párrafo explicando la funcionalidad del sitio del administrador-->
            <div class="row">
                <div class="col-12">
                    <p>Desde aquí podrás administrar todos los<br>
                        registros de tu pagina web, podrás leer a<br>
                        detalle cada registro, actualizarlo, eliminarlo y<br>
                        hasta crear nuevos.</p>
                </div>
            </div>
        </div>
        <!-- Este contenedor muestra una serie de botones con imágenes y texto que llevan a páginas de administración -->
        <div class="container">
            <div class="row justify-content-lg-center">
                <!-- Esta etiqueta div contiene un botón que redirige a la página de administración de productos -->
                <div class="col-lg-3 mt-4 text-center">
                    <a href="productos.html">
                        <button class="btn btn-lg">
                            <span class="align-items-center">
                                <img src="../../resources/img/iconos/adproductos.png" alt="productos" id="imagenes">
                            </span>
                            <h5 class="text-center">Administra tus productos</h5>
                        </button>
                    </a>
                </div>
                <!-- Esta etiqueta div contiene un botón que redirige a la página de administración de clientes -->
                <div class="col-lg-3 mt-4 text-center">
                    <a href="clientes.html">
                        <button class="btn btn-lg">
                            <span class="align-items-center">
                                <img src="../../resources/img/iconos/adcliente.png" alt="clientes" id="imagenes">
                            </span>
                            <h5 class="text-center">Administra tus clientes</h5>
                        </button>
                    </a>
                </div>
                <!-- Esta etiqueta div contiene un botón que redirige a la página de administración de usuarios -->
                <div class="col-lg-3 mt-4 text-center">
                    <a href="usuarios.html">
                        <button class="btn btn-lg">
                            <span class="">
                                <img src="../../resources/img/iconos/adusuario.png" alt="usuarios" id="imagenes">
                            </span>
                            <h5 class="text-center">Administra tus usuarios admin</h5>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <!-- Esta etiqueta div contiene un botón que redirige a la página de administración de pedidos -->
                <div class="col-lg-4 " id="btn-1">
                    <a href="pedidos.html">
                        <button class="btn btn-lg">
                            <span>
                                <img src="../../resources/img/iconos/adpedidos.png" alt="pedidos" id="imagenes">
                            </span>
                            <h5 class="text-center">Administra tus pedidos</h5>
                        </button>
                    </a>
                </div>
                <!-- Esta etiqueta div contiene un botón que redirige a la página de administración de valoraciones -->
                <div class="col-lg-4" id="btn-2">
                    <a href="valoraciones.html">
                        <button class="btn btn-lg">
                            <span class="">
                                <img src="../../resources/img/iconos/advaloraciones.png" alt="valoraciones"
                                    id="imagenes">
                            </span>
                            <h5 class="text-center">Administra tus valoraciones</h5>
                        </button>
                    </a>
                </div>
                <!-- Esta etiqueta div contiene un botón que redirige a la página de administración de valoraciones -->
                <div class="col-lg-4" id="btn-2">
                    <a href="detalle_pedido.html">
                        <button class="btn btn-lg">
                            <span class="">
                                <img src="../../resources/img/iconos/advaloraciones.png" alt="valoraciones"
                                    id="imagenes">
                            </span>
                            <h5 class="text-center">Administra tus valoraciones</h5>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer con enlaces a redes sociales y terminos y condiciones -->
    <footer class="footer text-center">
    </footer>

    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalerts.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
</body>

</html>