<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/admin.css">
</head>

<body>
    <header></header>

    <main>
        <a type="button" class="btn" role="button" id="btn-regresar"
            href="home.html">Regresar</a>
        <div class="container">
            <h3 class="text-center">Administración de Productos</h3>
        </div>
        <div>
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i><img src="../../resources/img/iconos/buscar.png" alt=""></i>
                </span>
                <i id="agregar">
                    <img src="../../resources/img/iconos/add.png" alt="">
                </i>
            </div>
        </div>
        <!-- Crea una tabla para mostrar los productos -->
        <div id="div-table">
            <table class="table table-striped table-bordered table-hover">
                <!-- Agrega la cabecera de la tabla -->
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Tallas</th>
                        <th scope="col">Colores</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Camisa Polo</th>
                        <td>Camisa polo de diferentes colores</td>
                        <td>Premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camiseta informal</th>
                        <td>Camiseta informal de diferentes colores</td>
                        <td>Semi - premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Hoodie</th>
                        <td>Suéter hoodie de diferentes colores</td>
                        <td>Normal</td>
                        <td>Hoodie</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camisa Polo</th>
                        <td>Camisa polo de diferentes colores</td>
                        <td>Premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camiseta informal</th>
                        <td>Camiseta informal de diferentes colores</td>
                        <td>Semi - premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Hoodie</th>
                        <td>Suéter hoodie de diferentes colores</td>
                        <td>Normal</td>
                        <td>Hoodie</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camisa Polo</th>
                        <td>Camisa polo de diferentes colores</td>
                        <td>Premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camiseta informal</th>
                        <td>Camiseta informal de diferentes colores</td>
                        <td>Semi - premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Hoodie</th>
                        <td>Suéter hoodie de diferentes colores</td>
                        <td>Normal</td>
                        <td>Hoodie</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camisa Polo</th>
                        <td>Camisa polo de diferentes colores</td>
                        <td>Premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camiseta informal</th>
                        <td>Camiseta informal de diferentes colores</td>
                        <td>Semi - premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Hoodie</th>
                        <td>Suéter hoodie de diferentes colores</td>
                        <td>Normal</td>
                        <td>Hoodie</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Camisa Polo</th>
                        <td>Camisa polo de diferentes colores</td>
                        <td>Premium</td>
                        <td>Camiseta</td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table" width="20px"></td>
                        <td class="text-center"><img src="../../resources/img/iconos/table.png" alt="table_color" width="20px">
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/editar.png" alt="editar" width="18px">
                                    </a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" role="button">
                                        <img src="../../resources/img/iconos/eliminar.png" alt="eliminar" width="18px">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </main>
    <!-- Footer con enlaces a redes sociales y terminos y condiciones -->
    <footer class="text-center text-dark"></footer>

    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>