@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Lexend Deca', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f2f2f2;
    position: relative;
    padding-bottom: 40px;
    min-height: 100vh;
}
/* 
.btn{
    margin-left: 8%; 
    background-color: #cccccc;
} */

.input-group{
    width: 300px;
    margin-left: 8%; 
    margin-bottom: 1%;
}

#div-table{
    margin-left: 8%; 
    margin-right: 8%; 
    text-align: center;
}

h1{
    text-align: center;
}

#agregar{
    margin: 2%;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #cccccc;
}

#btn-regresar{
    margin-top: 10px;
}

#search-addon{
    background-color: #f2f2f2; 
}

#search-btn, #search-btn2{
    width: 40px;
    margin: 2px;
    border: 0px;
    background-color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}