@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Lexend Deca', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background: #F2F2F2;
    position: relative;
    padding-bottom: 40px;
    min-height: 100vh;
}

.navbar{
    background-color: #cccccc;
}

section a{
    width: 24px;
    height: 24px;
}

.v-line{
    border-left: thick solid #cccccc;
    border-left-width: 1px;
    height: 60%;
    width: 1%;
    left: 11%;
    position: absolute;
}

#imagenes{
    width: 140px; 
    height: 140px;
}

#titulo-h{
    margin-top: 30px;
    text-align: center;
}

.btn{
    background-color: #cccccc;
    border-radius: 20px;
    width: 220px;
    height: 220px;
}

.footer{
    background-color: #cccccc; 
    text-align: center;
}

footer a{
    width: 30px;
}

#btn-1{
    margin-bottom: 25px;
}

#btn-2{
    margin-bottom: 25px;
    margin-bottom: 100px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}