<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Prenda</title>
    <link rel="stylesheet" href="../../resources/css/Estilo.css">
    <!-- <link rel="stylesheet" href="../../resources/css/StyleVerPrenda.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
</head>

<body>
    <header></header>

    <!-- termina navbar -->
    <!-- section -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center pt-5">
                <img id="imagen" src="" alt="ImagenMuestra">
            </div>
            <div class="col-lg-6 pt-5">
                <h2 id="title"></h2>
                <div class="row">
                    <input id="id_producto" name="id_producto" class="d-none">
                    <div id="informacion" class="mt-2 mb-2">
                        <h4 id="nombre"></h4>
                        <p id="descripcion" class="mt-3"></p>
                        <p id="precio"></p>
                    </div>
                </div>
                <div class="mt-2">
                    <h4>Elige el estampado</h4>
                </div>
                <form class="mt-3">
                    <div>
                        <div class="form-floating mb-2">
                            <select class="form-select" id="talla" name="talla"
                                aria-label="Floating label select example">
                                <option selected>Seleccione una talla</option>
                                <option value="1">S</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="talla">Talla</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="color" name="color"
                                placeholder="color">
                            <label for="color">Color</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3 tamaño-n">
                        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="50"
                            placeholder="cantidad">
                        <label for="cantidad">Cantidad:</label>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Selecione la imagen para el estampado:</label>
                        <input class="form-control" name="formFile" type="file" id="formFile">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-secondary" type="submit"> Agregar </button>
                    </div>
                </form>


            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-" style="border: 1px solid black ">
                <div id="rateYo"></div>

            </div>
        </div>
    </div>





    <!-- final del section -->
    <!-- Footer con enlaces a redes sociales y terminos y condiciones -->
    <footer></footer>

    <!-- Importación de archivos JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalerts.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/account.js"></script>
    <script type="text/javascript" src="../../controllers/public/detalle.js"></script>


</body>

</html>